appdirs==1.4.4
attrs==20.3.0
click==7.1.2
flake8==3.8.4
iniconfig==1.1.1
MarkupSafe==1.1.1
mypy
mypy-extensions==0.4.3
packaging==20.9
pathspec==0.8.1
pluggy==0.13.1
pycodestyle==2.6.0
pycryptodome==3.10.1
pyflakes==2.2.0
pylint
pylint-json2html==0.2.0
pyparsing==2.4.7
pytest==7.1.2
setuptools
toml==0.10.2
wrapt==1.12.1
