appdirs==1.4.4
astroid
attrs==20.3.0
chardet
click==7.1.2
flake8==3.8.4
iniconfig==1.1.1
isort
Jinja2
lazy-object-proxy
MarkupSafe==1.1.1
mccabe==0.6.1
mypy
mypy-extensions==0.4.3
packaging==20.9
pathspec==0.8.1
pdfminer.six
pdfplumber==0.5.26
Pillow
pip==21.1.3
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pycryptodome==3.10.1
pyflakes==2.2.0
pylint
pylint-json2html==0.2.0
pyparsing==2.4.7
PyPDF2==1.26.0
pytest==6.2.2
regex==2020.11.13
setuptools
six
sortedcontainers==2.3.0
toml==0.10.2
typed-ast
typing-extensions==3.7.4.3
Wand==0.6.5
wrapt==1.12.1
