name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2-beta
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Black Code Formatter
        uses: psf/black@stable

      - name: Run flake8
        uses: suo/flake8-github-action@releases/v1
        with:
          checkName: "lint"   # NOTE: this needs to be the same as the job name
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: isort Import Sorter
        uses: isort/isort-action@v0.1.0

      - name: pylint Error Checker
        run: pylint --fail-under 9 -f colorized bankruptcy-parser

      - name: mypy Static Type Checker
        run: mypy .

  lint-report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2-beta
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: pylint Generate Report
        run: >
          pylint --exit-zero --load-plugins=pylint_json2html -f jsonextended bankruptcy-parser |
          pylint-json2html -f jsonextended -o pylint-report.html

      - name: Upload report
        uses: actions/upload-artifact@v2
        with:
          name: pylint report
          path: pylint-report.html
